@model List<Library.Data.Models.Common.Person>
<h2>Avaiable People:</h2>


<table class="table" id="MyTable">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Email:</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    
    $(document).ready(function () {
    $('#MyTable').DataTable()
    });

</script>
 
