@model Library.Data.Models.Common.Group

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>


<div>
    @using (Html.BeginForm("LinkMember", "Member", new { id = Model.GroupId }, FormMethod.Post, null))
    {
        //@Html.Hidden("GroupId", new { id = Model.GroupId })
        <div>
            @Html.DropDownList("PersonID", new SelectList(ViewBag.PersonId, "PersonId", "Name" ))
    </div>
        

        <input type = "submit" value = "Send" class="btn btn-default"/>
    }
    <script>
        $(document).ready(function () {
            $(".chosen-choices").chosen();
        });
    </script>






        
    
    
   
    
</div>



