@*@model Library.Data.Models.Common.PersonModel*@

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>


<div>
    Name:
    @Html.DropDownList("PersonID", new SelectList(ViewBag.PersonId, "PersonId", "Name"))
   
    @Html.ActionLink("Add Member", "LinkMember", "Member", new { GroupId = Request.Url.Segments[3]}, null)
</div>


@*new { GroupId = Request.Url.Segments[3]}*@
